{% if __SELF__.getEvents().count() %}
<div class="eventslist row">
	{% for item in __SELF__.getEvents() %}
	
	<div class="events-item item-{{item.slug}} row">
		{% if item.cover_image %}
		<div class="col-lg-3 col-md-4 col-xs-12">
			<img class="events-img-left" src="{{item.cover_image.getThumb(280, 181, {'mode': 'crop'})}}">
		</div>
		{% endif %}
		<div class="col-xs events-container">
			<div class="events-title">
				<h3 class="card-title"><a href="{{ 'events' | page}}/{{item.slug}}">{{item.title}}</a></h3>

			</div>
			<div class="text-published">{{item.start | date('d F Y')}} - {{item.end | date('d F Y')}}</div>
			<div class="body">{{item.summary|raw}}</div>
		</div>
	</div>
	
	{% endfor %}

	{{ __SELF__.getEvents().render|raw }}
</div>
{% else %}
<div class="no-records">{{ __SELF__.property('no_records_message') }}</div>
{% endif %}