{% for event in __SELF__.getEntry() %}
	<h1>{{event.title}}</h1>

	<div id="popupEmailForm"></div>
	<div id="popupEditFieldForm"></div>
	<div class="emailAndExport">
		With selected:
		<a href="javascript:void(0);" onclick="onLoadEmailForm();" class="btn btn-danger btn-primary">Send email</a> &nbsp; &nbsp;
		<a class="btn btn-warning btn-primary" href="javascript:void(0);" onclick="onExportAttendees();">Export to Excel</a>
	</div>

	<table>
		<tr>
			<td><input type="checkbox" id="checkAll"> Check all </td>
			<td>ID</td>
			{% for o_question in event.order_questions %}
				<td>{{ o_question.question|length > 200 ? o_question.question|slice(0, 200)|striptags ~ '...' : o_question.question|raw  }}
				</td>
			{% endfor %}
		</tr>

		{% for attendee in event.attendees %}

		<tr>
			<td><input type="checkbox" name="attendee" data-email="{{(attendee.attendee_question_email) ?: '' }}" data-names="{{(attendee.attendee_question_names) ?: ''}}" data-id="{{attendee.id}}" data-eventid="{{event.id}}"> </td>
			<td>{{attendee.id}}</td>
			{% for k, attendeeAnswers in __SELF__.getEventAttendees(event.id, attendee.id) %}
			<td>
				{% for answerId, answer in attendeeAnswers %}
					{{answer|raw}}
				{% endfor %}
			</td>
			{% endfor %}
		</tr>

		{% endfor %}




	</table>
{% endfor %}
