{% for event in __SELF__.getEntry() %}
	<h1>{{event.title}}</h1>

	<div id="popupEmailForm"></div>
	<div id="popupEditFieldForm"></div>
	<div class="emailAndExport">
		With selected:
		<a href="javascript:void(0);" onclick="onLoadEmailForm();" class="btn btn-danger btn-primary">Send email</a> &nbsp; &nbsp;
		<a class="btn btn-warning btn-primary" href="javascript:void(0);" onclick="onExportAttendees();">Export to Excel</a>
	</div>

	<table>
		<tr>
			<td><input type="checkbox" id="checkAll"> Check all </td>
			<td>ID</td>
			{% for o_question in event.order_questions %}
				<td>{{o_question.question|raw}}</td>
			{% endfor %}
		</tr>




		{% for attendee in event.attendees %}

			<tr>
				<td><input type="checkbox" name="attendee" data-email="{{attendee.attendee_question_email}}" data-names="{{attendee.attendee_question_names}}" data-id="{{attendee.id}}" data-eventid="{{event.id}}"> </td>
				<td>{{attendee.id}}</td>
				{% for o_question in event.order_questions %}
					{% for k, attendeeAnswers in __SELF__.getEventAttendeeAnswers(event.id, attendee.id) %}
						{% if k == o_question.id %}
						<td>
							{% for answerId, answer in attendeeAnswers %}
								{{answer}}
								{% if o_question.active == false %}
									<a href="javascript:void(0);" onclick="onLoadEditFieldForm({{answerId}}, '{{answer}}', '{{o_question}}');" class="btn-danger">edit</a>
								{% endif %}
							{% endfor %}
						</td>
						{% endif %}
					{% endfor %}
				{% endfor %}
			</tr>

		{% endfor %}

	</table>
{% endfor %}